---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 16:48:53 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 652ms
      X-Forecast-Api-Calls:
      - '19'
      X-Response-Time:
      - 73.150ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579107036,"summary":"Clear","icon":"clear-day","nearestStormDistance":8,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":36.18,"apparentTemperature":36.23,"dewPoint":14.16,"humidity":0.4,"pressure":1022.5,"windSpeed":1.37,"windGust":5.01,"windBearing":115,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":341.1},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579107000,"precipIntensity":0,"precipProbability":0},{"time":1579107060,"precipIntensity":0,"precipProbability":0},{"time":1579107120,"precipIntensity":0,"precipProbability":0},{"time":1579107180,"precipIntensity":0,"precipProbability":0},{"time":1579107240,"precipIntensity":0,"precipProbability":0},{"time":1579107300,"precipIntensity":0,"precipProbability":0},{"time":1579107360,"precipIntensity":0,"precipProbability":0},{"time":1579107420,"precipIntensity":0,"precipProbability":0},{"t[...]
