---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXEL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6148b451b479273731b1844dd1c4e16a"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19979'
      X-Ratelimit-Reset:
      - '1581293950'
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":44,"page":1,"per_page":15,"photos":[{"id":3153198,"width":3781,"height":2521,"url":"https://www.pexels.com/photo/woman-sharing-her-presentation-with-her-colleagues-3153198/","photographer":"Canva
        Studio","photographer_url":"https://www.pexels.com/@canvastudio","photographer_id":1614591,"src":{"original":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg","large2x":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false},{"id":3184423,"width":4004,"height":6000,"url":"https://www.pexels.com/photo/photo-of-people-holding-each-other-s-hands-3184423/","photographer":"fauxels","photographer_url":"https://www.pexels.com/@fauxels","photographer_id":1281351,"src":{"original":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg","large2x":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/3184423[...]
