---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 17:45:32 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 650ms
      X-Forecast-Api-Calls:
      - '24'
      X-Response-Time:
      - 78.282ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578937619,"summary":"Clear","icon":"clear-day","nearestStormDistance":10,"nearestStormBearing":359,"precipIntensity":0,"precipProbability":0,"temperature":38.37,"apparentTemperature":38.45,"dewPoint":10.15,"humidity":0.31,"pressure":1013,"windSpeed":1.53,"windGust":5.79,"windBearing":28,"cloudCover":0.06,"uvIndex":1,"visibility":10,"ozone":393.4},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578937560,"precipIntensity":0,"precipProbability":0},{"time":1578937620,"precipIntensity":0,"precipProbability":0},{"time":1578937680,"precipIntensity":0,"precipProbability":0},{"time":1578937740,"precipIntensity":0,"precipProbability":0},{"time":1578937800,"precipIntensity":0,"precipProbability":0},{"time":1578937860,"precipIntensity":0,"precipProbability":0},{"time":1578937920,"precipIntensity":0,"precipProbability":0},{"time":1578937980,"precipIntensity":0,"precipProbability":0},{"t[...]
