---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=AIzaSyAFmZJYA-hd-C0dYczFwvdObJMSjKh1Fbs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 12 Jan 2020 17:15:41 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/737df04537cf560af6fce9328c89fa28/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 426ms
      X-Forecast-Api-Calls:
      - '6'
      X-Response-Time:
      - 109.085ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578849425,"summary":"Clear","icon":"clear-day","nearestStormDistance":9,"nearestStormBearing":262,"precipIntensity":0,"precipProbability":0,"temperature":38.3,"apparentTemperature":38.34,"dewPoint":9.86,"humidity":0.3,"pressure":1016.2,"windSpeed":1.56,"windGust":4.4,"windBearing":109,"cloudCover":0.14,"uvIndex":1,"visibility":10,"ozone":378.4},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578849420,"precipIntensity":0,"precipProbability":0},{"time":1578849480,"precipIntensity":0,"precipProbability":0},{"time":1578849540,"precipIntensity":0,"precipProbability":0},{"time":1578849600,"precipIntensity":0,"precipProbability":0},{"time":1578849660,"precipIntensity":0,"precipProbability":0},{"time":1578849720,"precipIntensity":0,"precipProbability":0},{"time":1578849780,"precipIntensity":0,"precipProbability":0},{"time":1578849840,"precipIntensity":0,"precipProbability":0},{"t[...]
