---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 17:14:04 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 222ms
      X-Forecast-Api-Calls:
      - '13'
      X-Response-Time:
      - 101.238ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578935731,"summary":"Clear","icon":"clear-day","nearestStormDistance":8,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":37.7,"apparentTemperature":38.02,"dewPoint":11,"humidity":0.33,"pressure":1013.7,"windSpeed":2.09,"windGust":5.29,"windBearing":8,"cloudCover":0.11,"uvIndex":1,"visibility":10,"ozone":401.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578935700,"precipIntensity":0,"precipProbability":0},{"time":1578935760,"precipIntensity":0,"precipProbability":0},{"time":1578935820,"precipIntensity":0,"precipProbability":0},{"time":1578935880,"precipIntensity":0,"precipProbability":0},{"time":1578935940,"precipIntensity":0,"precipProbability":0},{"time":1578936000,"precipIntensity":0,"precipProbability":0},{"time":1578936060,"precipIntensity":0,"precipProbability":0},{"time":1578936120,"precipIntensity":0,"precipProbability":0},{"t[...]
