---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 18:16:00 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 545ms
      X-Forecast-Api-Calls:
      - '28'
      X-Response-Time:
      - 107.372ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578939447,"summary":"Clear","icon":"clear-day","nearestStormDistance":9,"nearestStormBearing":255,"precipIntensity":0,"precipProbability":0,"temperature":40.4,"apparentTemperature":40.52,"dewPoint":10.29,"humidity":0.29,"pressure":1012.6,"windSpeed":1.78,"windGust":8.33,"windBearing":27,"cloudCover":0.15,"uvIndex":2,"visibility":10,"ozone":392.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578939420,"precipIntensity":0,"precipProbability":0},{"time":1578939480,"precipIntensity":0,"precipProbability":0},{"time":1578939540,"precipIntensity":0,"precipProbability":0},{"time":1578939600,"precipIntensity":0,"precipProbability":0},{"time":1578939660,"precipIntensity":0,"precipProbability":0},{"time":1578939720,"precipIntensity":0,"precipProbability":0},{"time":1578939780,"precipIntensity":0,"precipProbability":0},{"time":1578939840,"precipIntensity":0,"precipProbability":0},{"t[...]
