---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 04:29:14 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 419ms
      X-Forecast-Api-Calls:
      - '44'
      X-Response-Time:
      - 109.370ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578976242,"summary":"Clear","icon":"clear-night","nearestStormDistance":11,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":32.06,"apparentTemperature":30.75,"dewPoint":7.69,"humidity":0.35,"pressure":1016.6,"windSpeed":2.83,"windGust":3.09,"windBearing":224,"cloudCover":0.04,"uvIndex":0,"visibility":10,"ozone":365.5},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578976200,"precipIntensity":0,"precipProbability":0},{"time":1578976260,"precipIntensity":0,"precipProbability":0},{"time":1578976320,"precipIntensity":0,"precipProbability":0},{"time":1578976380,"precipIntensity":0,"precipProbability":0},{"time":1578976440,"precipIntensity":0,"precipProbability":0},{"time":1578976500,"precipIntensity":0,"precipProbability":0},{"time":1578976560,"precipIntensity":0,"precipProbability":0},{"time":1578976620,"precipIntensity":0,"precipProbability":0},{"t[...]
