---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=AIzaSyAFmZJYA-hd-C0dYczFwvdObJMSjKh1Fbs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 12 Jan 2020 18:59:45 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/737df04537cf560af6fce9328c89fa28/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 765ms
      X-Forecast-Api-Calls:
      - '13'
      X-Response-Time:
      - 66.440ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578855669,"summary":"Clear","icon":"clear-day","nearestStormDistance":12,"nearestStormBearing":252,"precipIntensity":0,"precipProbability":0,"temperature":44.66,"apparentTemperature":41.67,"dewPoint":1.75,"humidity":0.16,"pressure":1013.9,"windSpeed":5.42,"windGust":9.96,"windBearing":212,"cloudCover":0.12,"uvIndex":2,"visibility":10,"ozone":374.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578855660,"precipIntensity":0,"precipProbability":0},{"time":1578855720,"precipIntensity":0,"precipProbability":0},{"time":1578855780,"precipIntensity":0,"precipProbability":0},{"time":1578855840,"precipIntensity":0,"precipProbability":0},{"time":1578855900,"precipIntensity":0,"precipProbability":0},{"time":1578855960,"precipIntensity":0,"precipProbability":0},{"time":1578856020,"precipIntensity":0,"precipProbability":0},{"time":1578856080,"precipIntensity":0,"precipProbability":0},{"t[...]
