---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 03:26:02 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 491ms
      X-Forecast-Api-Calls:
      - '1'
      X-Response-Time:
      - 91.644ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578886046,"summary":"Clear","icon":"clear-night","nearestStormDistance":11,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":34.39,"apparentTemperature":34.39,"dewPoint":3.73,"humidity":0.27,"pressure":1016.7,"windSpeed":2.24,"windGust":4.11,"windBearing":352,"cloudCover":0.17,"uvIndex":0,"visibility":10,"ozone":393.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578886020,"precipIntensity":0,"precipProbability":0},{"time":1578886080,"precipIntensity":0,"precipProbability":0},{"time":1578886140,"precipIntensity":0,"precipProbability":0},{"time":1578886200,"precipIntensity":0,"precipProbability":0},{"time":1578886260,"precipIntensity":0,"precipProbability":0},{"time":1578886320,"precipIntensity":0,"precipProbability":0},{"time":1578886380,"precipIntensity":0,"precipProbability":0},{"time":1578886440,"precipIntensity":0,"precipProbability":0},{"t[...]
